{% block body %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{{ path('index') }}">Drs</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('index') }}" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Personnage</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{{ path('playerlist') }}">Consulter</a>
                        <a class="dropdown-item" href="{{ path('playerform') }}">Ajouter</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Créature</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{{ path('creaturelist') }}">Consulter</a>
                        <a class="dropdown-item" href="{{ path('creatureform') }}">Ajouter</a>
                        <a class="dropdown-item" href="{{ path('creature_assisted_creation') }}">Création assistée</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rencontre</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{{ path('encountersgenerator') }}">Générateur</a>
                        <a class="dropdown-item" href="{{ path('encounter_create', {nc: -1}) }}">Créer une rencontre</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Equipement</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{{ path('contact_weapon') }}">Armes aux contact</a>
                        <a class="dropdown-item" href="{{ path('distance_weapon') }}">Armes a distances</a>
                        <a class="dropdown-item" href="{{ path('armor') }}">Armures</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Table</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{{ path('wild_magic') }}">Magie sauvage</a>
                        <a class="dropdown-item" href="{{ path('encounter_table') }}">Rencontre</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lien utile</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <h6 class="dropdown-header">Aide de jeu</h6>
                        <a class="dropdown-item" href="https://www.co-drs.org/fr" target="_blank">Drs officiel</a>
                        <a class="dropdown-item" href="http://comob.rpgapps.net/" target="_blank">Add-on</a>
                        <a class="dropdown-item" href="https://black-book-editions.fr/forums.php?topic_id=7547" target="_blank">Info dé de vié/nouveaux profils</a>
                        <a class="dropdown-item" href="https://black-book-editions.fr/forums.php?a=last&topic_id=11895" target="_blank">Création alternative/tableaux des races</a>
                        <a class="dropdown-item" href="https://mega.nz/file/z3ARHKTC#23EPtJuykd_WsAkhrKyvMxSHgRBsK5YSDHWaDgqgJXM" target="_blank">Casus Beli</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Musique d'ambiance</h6>
                        <a class="dropdown-item" href="https://open.spotify.com/playlist/5i8syfVCdthkCS38G1Od88?si=b87e49fd409d4493" target="_blank">Combat</a>
                        <a class="dropdown-item" href="https://open.spotify.com/playlist/6pF5O41OQfOCv24q0MSrti?si=e83c7c6094374d98" target="_blank">Calme</a>
                        <a class="dropdown-item" href="https://open.spotify.com/playlist/5EJtA9viF9SqMBFMQdQSZO?si=da00447b57c74db9" target="_blank">Taverne</a>
                    </div>
                </li>
            </ul>
        </div>
  </div>
</nav>
{% endblock %}